body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    background-image: url('img/background-img.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1.5625rem; /* 25px */
    text-align: center;
}

.navbar {
    background-color: rgba(20, 20, 20, 0.9);
    padding: 0.9375rem 1.25rem; /* 15px 20px */
    border-radius: 0.3125rem; /* 5px */
    margin: 2.5rem auto; /* 40px */
    width: 55%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar ul li {
    display: inline-block;
    margin: 0 0.9375rem; /* 0 15px */
}

.navbar ul li a {
    text-decoration: none;
    font-size: 1.1em;
    color: #fff;
    padding: 0.625rem 0.9375rem; /* 10px 15px */
    transition: all 0.3s ease-in-out;
}

.navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.3125rem; /* 5px */
}

.content-box {
    background-color: rgba(20, 20, 20, 0.9);
    color: #fff;
    padding: 1.25rem; /* 20px */
    border-radius: 0.3125rem; /* 5px */
    margin: 0 auto;
    margin-bottom: 2.5rem; /* 40px */
    text-align: center;
    max-width: 55%;
}

input[type="radio"]:checked {
    background-color: #FFA500;
}

input[type="radio"] {
    appearance: none;
    background-color: white;
    margin: 0 0.3125rem; /* 0 5px */
    width: 0.9375rem; /* 15px */
    height: 0.9375rem; /* 15px */
    border-radius: 50%;
    border: 0.125rem solid #ccc; /* 2px */
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
}

@media screen and (max-width: 600px) {
    .navbar {
        width: 80%;
    }
    .content-box {
        max-width: 80%;
    }
    .navbar ul li {
        margin: 0;
    }
}
